<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>Chango Consultora Boutique</h3>
          <p>Te desafiamos a trabajar con el objetivo de lograr superar la expectativa del cliente.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <ul>
            <li>
              <h3>Nuestros Servicios</h3>
            </li>
            <li><a href="service.html">Servicios Tecnológicos</a></li>
            <li><a href="service.html">Gestión Empresarial</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
          <ul>
            <li>
              <h3>Accesos Rápidos</h3>
            </li>
            <li><a href="about.html">Nosotros</a></li>
            <li><a href="service.html">Servicios</a></li>
            <li><a href="team.html">Equipo</a></li>
            <li><a href="contact.html">Contacto</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <h3>Nuestras Redes</h3>
            </li>
            <li><a href="https://www.linkedin.com/in/chango-consultora-boutique-536392209/" target="_blank">Linkedin</a></li>
            <li><a href="https://www.instagram.com/changoconsultora" target="_blank">Instragram</a></li>
            <!-- <li><a href="https://wa.me/+5493493446626" target="_blank">WhatsApp</a></li> -->
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>&copy; 2023. Todos los derechos reservados.</h5>
    <h6>Developed by <a href="https://www.changoconsultora.com/">Chango Consultora Boutique</a></h6>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->