<!-- Start Services Section
==================================== -->

<section class="services" id="services">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>Nuestros Servicios</h2>
					<!--
					<p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum iaculis ex,
						in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus dignissim.</p>-->
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row no-gutters">

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-copy-outline"></i>
					</div>
					<h3>Mentoría</h3>
					<p>Acompañamiento profesional para el desarrollo de habilidades, potenciando el talento, y brindando herramientas que faciliten la mejora en la gestión de los recursos, y la toma de decisiones.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-alarm-outline"></i>
					</div>
					<h3>Planeamiento</h3>
					<p>Planificación estratégica, presupuestación y definición de objetivos. Seguimiento para la concreción de los mismos.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-book-outline"></i>
					</div>
					<h3>Gestión de Equipos</h3>
					<p>Identificación de roles y responsabilidades.
						Descripción de puestos de trabajo y competencias requeridas.
						Delegación efectiva.
						Gestión del tiempo.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4  text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-briefcase-outline"></i>
					</div>
					<h3>Eficiencia en Procesos</h3>
					<p>Diseño y análisis de procesos.

						Detección de oportunidades de mejoras.
						
						Diseño de procesos digitales.
						
						Optimización de recursos en la cadena de valor.
						
						Medición de tiempos de procesamiento.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-crop"></i>
					</div>
					<h3>Gestión de Stock</h3>
					<p>Control de entradas y salidas de mercadería.

						Control de calidad de productos.
						
						Identificación de mermas.
						
						Control de vencimientos.
						
						Puntos de pedidos, entre otros.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-home-outline"></i>
					</div>
					<h3>Indicadores</h3>
					<p>Diseño de indicadores para la toma de decisiones.

						Identificación de márgenes de tolerancia.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->