<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <!-- section title -->
        <div class="title text-center">
          <h2>Gestión Empresarial</h2>
          <!--
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Voluptates, earum. </p>-->
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>
    </div>
    <div class="row">
      <!--
      <div class="col-md-4 text-center d-none d-md-block">
        <img loading="lazy" src="images/about/member.jpg" class="img-fluid inline-block" alt="">
      </div>-->
      <div class="col-md-12">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-gear-outline"></i>
              <h4>Optimización de Procesos</h4>
              <p>Identificamos áreas de mejora en los flujos operativos y de negocio de tu empresa. Proponemos soluciones personalizadas para optimizar la 
                productividad y la eficiencia de tu organización.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-briefcase-outline"></i>
              <h4>Estrategias de Negocio</h4>
              <p>Diseñamos e implementamos estrategias que optimicen la rentabilidad de tu negocio, impulsando la eficiencia y generando un 
                crecimiento sustentable.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-people-outline"></i>
              <h4>Mentorías de Líderes y Ejecutivos</h4>
              <p>El liderazgo efectivo es un activo valioso en cualquier organización. Nuestros mentores altamente experimentados brindan 
                orientación estratégica, apoyo emocional y consejos prácticos para enfrentar los desafíos empresariales.
                <br><br>
              </p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-loop"></i>
              <h4>Change Management</h4>
              <p>Ayudamos a su organización a implementar cambios significativos de manera eficaz, minimizando la resistencia y maximizando
                 la adopción exitosa de nuevas prácticas y tecnologías. Utilizamos estrategias de comunicación, capacitación y seguimiento 
                 para asegurarnos de que su empresa abrace el cambio de manera positiva y efectiva.</p>
            </div>
          </div><!-- END COL -->
          
          <!--
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>Sasdsadas</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
            </div>
          </div>--><!-- END COL -->
          <!--
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>Sasdsadas</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
            </div>
          </div>--><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->