<!-- Start Our Team
		=========================================== -->
<section class="team" id="team">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-12 col-lg-12">
				<div class="title text-center ">
					<h2>Nuestro Equipo</h2>
					<p>Nuestro equipo esta compuesto por expertos, con grandes valores, que se dedican a comprender las necesidades específicas de cada cliente y a diseñar soluciones que les permitan alcanzar sus metas empresariales. 
						Nuestra pasión y compromiso con la excelencia y los desafíos, nos impulsan a estar a la vanguardia de las últimas tendencias para ofrecer a nuestros clientes un servicio de alta calidad que genere un impacto positivo en su negocio.
						</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2>Management Team</h2>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row">
			<!-- team member -->
			<div class="col-lg-6 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="images/team/marina.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="mailto:marina@changoconsultora.com"><i class="tf-ion-email"></i></a></li>
								<li><a href="https://wa.me/+5493493446626" target="_blank"><i class="tf-ion-social-whatsapp"></i></a></li>
								<li><a href="https://www.linkedin.com/in/marina-yacomosky-2a10b5136/" target="_blank"><i class="tf-ion-social-linkedin"></i></a></li>
								<!--<li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble"></i></a></li>-->
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Marina Yacomosky</h3>
						<span>CEO & Co-Founder</span>
												<!--
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
						-->
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-6 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="images/team/martin.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="mailto:martin@changoconsultora.com"><i class="tf-ion-email"></i></a></li>
								<li><a href="https://wa.me/+5493493409526" target="_blank"><i class="tf-ion-social-whatsapp"></i></a></li>
								<li><a href="https://www.linkedin.com/in/martintamagno/" target="_blank"><i class="tf-ion-social-linkedin"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Martín Tamagno</h3>
						<span>CTO & Co-founder</span>
						<!--
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
						-->
					</div>
					<!-- /member name & designation -->
				</div>
			</div>
			<!-- end team member -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->